#interests-holder {
  margin-top: 100px;
  width: 100%;
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
}

#interests-heading {
  font-family: "Mukta", sans-serif;
  text-transform: uppercase;
  font-weight: 550;
  font-size: 25px;
}

#interest-card-holder-row {
  width: 81%;
  margin-top: 70px;
  display: flex;
  flex-direction: row;
  padding-left: 30px;
  justify-content: space-between;
  /* border: 1px solid black; */
}

@media screen and (max-width:1200px)
{
  #interest-card-holder-row{
    flex-direction: column;
  }

  #interest-bar-design{
    display: none;
  }
  
}




#interest-pill {
  display: flex;
  width: 400px;
  border: thin solid rgb(136, 136, 136); 
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  border-radius: 15px;
  height: 80px;
  margin-bottom: 40px;
  color: white;
  box-shadow: rgb(243, 241, 241) 1px 1px 1px 1px;
}
#interest-pill:hover{
    /* border: 1px solid black; */
    transition: .9s;
}




.interest-logo {
  height: 43px;
  margin-left: 15px;
  margin-right: 14px;
}

.interest-header {
  font-size: 12px;
  font-weight: 700;
  width: fit-content; 
  color: black;
  border-bottom: rgb(233, 126, 27) 1px solid;
  padding-bottom: 1px;
  /* color:white;  */
}

.interest-header-description {
  font-size: 12px;
  /* border:1px solid black;  */
  height: 36px;
  overflow: hidden;
  white-space: inherit;
  color:black; 
}

#interest-bar-design {
  height: 90%;
  border: 1px solid rgb(233, 126, 27); 
  margin-right: 20px;
}



#calulator-logo {
  margin-left: -50px;
}

#skate-board {
  width: 80px;
  height: 55px;
  margin-left: 3px;
  margin-right: 3px;
}

#plane-logo{
width: 75px;
height: 39px;

}
